{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.login'|trans({}, 'admin') }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h4 mb-0">{{ 'admin.login'|trans({}, 'admin') }}</h1>
                    </div>
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.password) }}
                            {{ form_row(form._remember_me) }}

                            <button type="submit" class="btn btn-primary w-100">{{ 'admin.login'|trans({}, 'admin') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
