{% extends 'base.html.twig' %}

{% block title %}{{ 'user.login'|trans }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center mb-0">{{ 'user.login'|trans }}</h2>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {{ form_start(form) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form._remember_me) }}

                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">{{ 'user.login'|trans }}</button>
                        </div>
                    {{ form_end(form) }}

                    <div class="text-center mt-3">
                        <p class="mb-0">{{ 'user.no_account'|trans }} <a href="{{ path('app_user_register') }}">{{ 'user.register_here'|trans }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 